!!! 5
html
  head
        meta(name='viewport',content='user-scalable=no, width=300px')
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet', href='/css/style.css')
        script(rel='type/javascript', src='/socket.io/socket.io.js')
        script(rel='type/javascript', src='/js/jquery.min.js')
        script(rel='type/javascript', src='/js/script.js')

  body
    block content